body{
    background-image: url('https://giphy.com/gifs/giphyworldgifs-gradient-2tNvsKkc0qFdNhJmKk?utm_source=media-link&utm_medium=landing&utm_campaign=Media%20Links&utm_term=https://giphy.com/');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}
